/venv
.env
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
logs/
*.log
database.sqlite3
instance/
*.sqlite3
*.db
*.sqlite
*.env
*.env.*
*.log
*.pot
*.mo
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
